 body {
  background-color: #5D8E4D;
 }
 
 p{ 
   padding: 1em;
   line-height: 1.5em;
   margin-top: -1em;
   font-size: 1.5em;
   font-family:  'Open Sans', sans-serif; 
 }  
 
 h1{
  font-family: "Arial Black", Anton, sans-serif;
  grid-column: 2; 
  grid-row:1/2;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 2em;
 }
 
 h2 {
  background-color: #3A5A40;
  color: #F9D43E;
  font-family: "Arial Black", Anton, sans-serif;
  font-size: 20px;
  padding: .75em;
  line-height: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-top: 5px double;
  border-bottom: 5px double;
 }
 
 footer {
   display: grid;
   grid-template-columns: 1fr 1fr;
   font-size: .7em;
 }
 
 .header-img {
     width: 200px;
     height: auto;
     float: right;
   }   
 
   main {
   background-color: #DAD7CD;
   text-decoration: none;
 } 